@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
$brown: #786450;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #CA7C4E;
  background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -o-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEBE6C', endColorstr='#CA7C4E',GradientType=1 ); 
  color: brown;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 180px;
  left: 300px;
	height: 450px;
	width: 760px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profile {
	float: left;
	width: 200px;
	height: 320px;
	text-align: center;
	
	.image {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
		
		.circle-1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color: brown brown brown transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.circle-2 {
			@extend .circle-1;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color: brown transparent $brown $brown;
		}
		
		img {
			display: block;
			border-radius: 50%;
			background: #F5E8DF;
		}
		
		&:hover {
			cursor: pointer;
			
			.circle-1 {
				transform: rotate(360deg);
			}
			
			.circle-2 {
				transform: rotate(-360deg);
			}
			
		}
		
	}
	
	.name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.job {
		font-size: 11px;
		line-height: 15px;
	}
	
	.actions {
		margin-top: 33px;
		
		.btn {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid brown;
			border-radius: 15px;
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: brown;
			
			&:hover {
				background: brown;
				color: #fff;
			}
		}
	}
	
}

	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	}
	
	.topnav {
	  position: relative;
	  overflow: hidden;
	  background-color: rgba(0, 0, 0, 0.616);
	  /*box-shadow: rgb(252, 227, 0) 0px 5px 5px;*/
	}
	
	.topnav a {font-family: monospace;
		
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
	
	.topnav a:hover {
	  background-color:greenyellow;
	  color: black;
	}
	
	
	
	.topnav-centered a {
		font-family: roboto;
	  float: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  border: 2px solid greenyellow ;
	  border-radius: 5px;
	  border-bottom-right-radius: 25px;
	  border-bottom-left-radius: 25px;
	  transform: translate(-20%, -50%);
	  box-shadow: greenyellow 0px 0px 15px;
	}
	.topnav-centered a {
		font-family: roboto;
	  float: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  border: 2px solid greenyellow ;
	  border-radius: 5px;
	  border-bottom-right-radius: 25px;
	  border-bottom-left-radius: 25px;
	  transform: translate(-20%, -50%);
	  box-shadow: greenyellow 0px 0px 15px;
	}
	.topnav-centered2 a {
		font-family: roboto;
	  float: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  border: 2px solid red ;
	  border-radius: 5px;
	  border-bottom-right-radius: 25px;
	  border-bottom-left-radius: 25px;
	  transform: translate(0%, -50%);
	  box-shadow: red 0px 0px 15px;
	}
	.topnav-centere {
		font-family: roboto;
	  float: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  border: 2px solid red ;
	  border-radius: 5px;
	  border-bottom-right-radius: 25px;
	  border-bottom-left-radius: 25px;
	  background-color: red;
	 
	  box-shadow: red 0px 0px 15px;
	}
	.topnav-right {
	  float: right;
	}
	
	/* Responsive navigation menu (for mobile devices) */
	@media screen and (max-width: 600px) {
	  .topnav a, .topnav-right {
		font-family: monospace;
		float: none;
		display: block;
	  }
	  
	  .topnav-centered a {
		font-family: roboto;
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0%, 20%);
	  }
	  .topnav-centered2 a {
		font-family: roboto;
		position: relative;
		top: 0;
		left:0;
		width: 90%;
		transform: translate(10%, 15%);
	  }
	}

	.sidenav {
  width: 10%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: rgba(213, 243, 223, 0.281);
  overflow-x: hidden;
  padding: 8px 0;
  text-align: left;
  
  font-family: sans-serif,opensans;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  margin-top: 2em;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  background-color: black;
}

.sidenav a:hover {
  color: orange;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table {
  width:85%;
  margin-left: 13%;
  height: auto;
  margin-top: 2em;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
th, td {
  padding: 15px;
  text-align: center;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}

.tda
{
	display: block;
	height: 100% ;
	width: 100%;
	text-decoration: none;
	color: black;
	text-align: center;
}
.tda:hover
{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	
}

#btn
{
    background-color: teal;
    color: white;
    box-shadow:5px 5px 5px black;
}
#btn:hover
{
    background-color: rgb(0, 87, 87);
    color: white;
}
label{
   height:28px;
   display:inline-block;
   float:left;
   text-align:center-left;
   width:250px;
   background-color:#f2f2f2
   
}
input{
   display:inline-block;
   float:left;
   width:60%;
}
form{
   margin-top:60px;
   margin-left:30px;
}



